.box {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.input-text {
  width: 35%;
  border-radius: 20px;
}

.ip-text {
  width: 100%;
}

/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root { 
  border-radius: 20px;
} */